.sms-icon {
    width: 153px;
    height: 153px;
    margin-bottom: 3em;
}

.add_to_card {
    width: 40px;
    height: 40px;
    margin-top: .2em;
    cursor: pointer;
    z-index: 2;
}

.arrow-down-icon {
    color: #cacaca;
}
