
.wrapper-my-account {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-down {
  width: 100%;
  text-align: center;
}

a.grey__message:hover, a.green__message:hover {
  text-decoration: underline;
  color: $--soft-blue;
}

.main-my-account .greenBtn {
  margin-top: 2em;
}

.section-down .white--btn, .section-down {
  margin-bottom: 3em;
}


/* Pass Recovery section */

.header-section-recovery {
  margin-top: 7em;
  margin-bottom: 5em;
}

.image-product {
  width: 138px;
  height: 137px;
}

.clickedBtn {
  position: absolute;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 14%);
  border-radius: 50%;
  padding: 17px;
  right: 3px;
  top: 5px;
}

.image-shopping-card {
  width: 69px;
}

.no-underline {
  text-decoration: none;
}

.header-my-order {
  width: 100%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
}

.disabled-btn {
  background-color: #E7E7E7;
  border: none;
}

.text-logo {
  font-weight: bold;
}

.no-order {
  border: 8px solid $--hospital-green;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  color: #888;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (display:flow-root) {
      .nav-section {
          border-top: 1px solid #EEE;
      }

      input:focus {
          outline: none;
      }
  }
}

@media (min-width: 430px) {
  .wrapper-my-account {
      justify-content: unset;
      align-items: unset;
  }

  .main-my-account .green--btn, .section-down .white--btn, .section-down .green--btn {
      width: 400px;
  }

  form > .general-input {
    width: 100%;
  }

  .recovery-tittle {
    font-size: 2.5rem;
  }
}

@media (min-width: 500px) {
  #body-home {
    overflow: scroll;
  }
}


@media (min-width: 765px) {
  .search-home-section {
    top: 62px;
  }
}
