
.wrapper-login, .wrapper-my-account {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-down {
  width: 100%;
  text-align: center;
}

a.grey__message:hover, a.green__message:hover {
  text-decoration: underline;
  color: $--soft-blue;
}

.main-my-account .greenBtn {
  margin-top: 2em;
}

.section-down .white--btn, .section-down {
  margin-bottom: 3em;
}


/* Pass Recovery section */

.header-section-recovery {
  margin-top: 7em;
  margin-bottom: 5em;
}

.recovery-text {
  margin: 1em auto;
  margin-bottom: 2em;
  font-size: 1.4rem;
  width: 80%;
  color: #797979;
}

.header-home-nav {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1.2em;
}

.box-shadow-header {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
}

.image-product {
  width: 138px;
  height: 137px;
}

.clickedBtn {
  position: absolute;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 14%);
  border-radius: 50%;
  padding: 17px;
  right: 3px;
  top: 5px;
}

.myaccount-tittle {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

.no-fixed {
  position: relative;
}

.menu-tab + .product-detail-tab {
  /* height: 92vh; */
  padding: 0;
  transform: translateY(100vh);
}

.menu-tab + .show-product-detail {
  transform: translateY(0);
}

.image-shopping-card {
  width: 69px;
}

.no-underline {
  text-decoration: none;
}

.main-my-account .loginSection__input {
  padding-left: 0;
  background-color: $--white;
}

.header-my-orders, .header-my-order {
  width: 100%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
}

.my-orders-section {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
}

.header-my-order + .my-orders-section {
  padding: 0 2em;
}

.nav--my-orders {
  position: static;
}

.my-orders__item__date, .my-orders__item__amount {
  display: block;
  margin-top: 0;
  margin-bottom: .3em;
}

.my-orders__item__amount {
  font-size: 1.2rem;
  font-weight: thin;
  color: #404040;
}

.my-orders-section .shopping-card-item {
  margin-bottom: 2.5em;
}

.my-orders-section .my-orders__item--special {
  background-color: $--text-input;
  padding: 1.5em;
  border-radius: 10px;
  margin: 1.5em 0;
}

.product-detail-img {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.image-detail-size {
  width: 320px;
  height: 320px;
  scroll-snap-align: center;
}

.image-container {
  position: relative;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.product-detail-info {
  padding: 0.8em 1.5em;
}

.product-detail-tab .recovery-text {
  margin: 1em 0;
  width: 100%;
  max-height: 90px;
}

.product-detail-button {
  text-align: center;
  padding: 1.5em;
}

.product-detail-button__text {
  font-size: 1.5rem;
}

.points-wrapper {
  text-align: center;
}

.point {
  width: 7px;
  height: 7px;
  background-color: $--background-color;
  border-radius: 50%;
  display: inline-block;
}

.selected-point {
  background-color: $--hospital-green;
}

.wrapper-close-btn, .wrapper-back-btn, .wrapper-next-btn {
  background-color: $--background-color;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

.wrapper-close-btn {
  top: 10px;
  right: 8px;
}

.wrapper-next-btn, .wrapper-back-btn {
  width: 24px;
  height: 24px;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-next-btn {
  right: 20px;
}

.wrapper-back-btn {
  left: 20px;
}

.disabled-btn {
  background-color: #E7E7E7;
  border: none;
}

.error-detail-message {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5em;
  border-radius: 5px;
  background-color: red;
  color: $--white;
  margin: 0 auto;
  visibility: hidden;
}

.text-logo {
  font-weight: bold;
}

.error-app {
  font-size: 1.5rem;
  padding: 1.5em;
  font-weight: bold;
  border: 5px solid $--hospital-green;
  color: #888;
  border-radius: 5px;
  background-color: $--text-input;
  max-width: 250px;
}

.no-order {
  border: 8px solid $--hospital-green;
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  color: #888;
}

.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (display:flow-root) {
      .nav-section {
          border-top: 1px solid #EEE;
      }

      input:focus {
          outline: none;
      }
  }
}

@media (min-width: 430px) {
  .wrapper-login, .wrapper-my-account {
      justify-content: unset;
      align-items: unset;
  }

  .wrapper-recovery, .main-my-account {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
  }

  .main-my-account .green--btn, .section-down .white--btn, .section-down .green--btn {
      width: 400px;
  }

  form > .general-input {
      width: 100%;
  }

  .myaccount-tittle {
      width: 100%;
      font-size: 2.5rem;
      margin-bottom: 2em;
  }

  .recovery-tittle {
      font-size: 2.5rem;
  }
}

@media (min-width: 500px) {
  #body-home {
      overflow: scroll;
  }

  .menu-icon {
      display: none;
  }

  .menu-tab + .product-detail-tab {
      max-height: 680px;
      top: 57px;
      width: 365px;
      right: 0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 12%);
  }

  .product-detail-img, .image-detail-size {
      width: 360px;
      height: 360px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .error-app {
      font-size: 1.8rem;
      padding: 2em;
      max-width: 380px;
      margin-top: 1em;
  }

  .wrapper-next-btn, .wrapper-back-btn {
      top: 168px;
  }
}


@media (min-width: 765px) {
  .search-home-section {
      top: 62px;
  }

  .menu-tab + .product-detail-tab {
      top: 65px;
  }

  .error-app {
      font-size: 2rem;
      padding: 1em;
      max-width: 500px;
      margin-top: 2.5em;
  }
}
