@import '../../styles/variables.module';

.loginSection, .wrapper-recovery, .main-my-account {
  text-align: center;
}

.loginSection__input {
  margin-bottom: 1em;
}

.generalInput {
  width: 90%;
  background-color: $--text-input;
  color: #797979;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8em 0.7em;
  border-radius: 7px;
  border: none;
}

.generalInput:-webkit-autofill,
.generalInput:-webkit-autofill:hover,
.generalInput:-webkit-autofill:focus,
.generalInput:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px $--text-input inset;
}

.generalInput:focus-visible {
  outline: none;
}

.errorMessage {
  position: absolute;
  color: #D25050;
  font-size: 1.1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  background-color: red;
  max-width: 250px;
  padding: 0.2em 0.5em;
  color: $--white;
  border-radius: 5px;
  font-weight: bold;
}

.showDetailErrorMessage {
  visibility: visible;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.generalMessageLink {
  display: inline;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 3em;
  cursor: pointer;
}

.green__message {
  margin-left: .5em;
  color: $--hospital-green;
}

.grey__message {
  color: #797979;
}

div.grey__message:hover, div.green__message:hover {
  text-decoration: underline;
  color: $--soft-blue;
}

.loginSection__recovery {
  margin-bottom: 2em;
}

.loginSection, .main-my-account {
  position: relative;
}

.loginSection__label {
  float: left;
  margin-left: 1.5em;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.loginSection__input {
  margin-bottom: 1em;
}

.loginSection__input[type="password"] {
  margin-bottom: 1.5em;
}

.greenBtn {
  margin-top: 2em;
  width: 400px;
}

.loginSection, .headerSectionLogin, .wrapper-recovery {
  text-align: center;
}

.redLetters {
  color: red;
}

.redBorders {
  border: 1px solid red;
}

@media (min-width: 430px) {
  form > .loginSection__label {
    margin-left: 0;
    font-size: 1.4em;
  }

  .loginSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .generalInput {
    width: 100%;
  }
}
