@import '../../styles/variables.module';

.articleSectionItem {
  min-width: 140px;
  margin-bottom: 2em;
  display: inline-block;
}

.articleSectionItem__img {
  border-radius: 10px;
  height: 137px;
  overflow: hidden;
  cursor: pointer;
}

.articleSectionItem__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.grey__message {
  color: #797979;
}

.green__message {
  color: $--hospital-green;
}

.nameProduct, .priceProduct {
  margin-top: 0.4em;
  display: block;
}

.priceProduct {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #404040;
  width: 100%;
}

.nameProduct {
  font-size: 1.1rem;
  color: #797979;
  font-weight: 300;
  max-width: 100px;
  margin-top: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.add_to_card {
  width: 40px;
  height: 40px;
  margin-top: 0.2em;
  cursor: pointer;
  z-index: 2;
}

.circleBorder {
  position: absolute;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 14%);
  border-radius: 50%;
  padding: 17px;
  right: 3px;
  top: 5px;
}

.newImg {
  width: 138px;
  height: 137px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: #CCC;
}

@media (min-width: 415px) {
  .newImg {
    width: 173px;
    height: 172px;
  }

  .nameProduct {
    max-width: 133px;
  }

  .articleSectionItem {
    margin: 0 .5em;
    margin-bottom: 2em;
  }
}

@media (min-width: 730px) {
  .nameProduct {
    max-width: 155px;
  }

    .newImg {
    width: 208px;
    height: 207px;
  }
}
